/* header */
#header{
  background-color: #F5FDB0;
}
body{
  text-align: center;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
}
.logo{
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.nav-item{
  padding-right: 20px;
  padding-left: 20px;
  font-family: serif;
  color: white;
}
.nav-item:hover{
  text-decoration: underline;
}

.header-heading{
  margin-top: 160px ;
  margin-left: 170px;
  font-family: 'Road Rage', cursive;
  font-size: 4.75rem;
}
.header-para{
margin-left: 270px;
font-family: 'Road Rage', cursive;
font-size: 2rem;
}

.header-image{

  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 100px 50px 100px 60px;
}

/* features */
#features{
  margin-top: 100px ;
  margin-bottom: 100px;
  margin-left:50px
}
.fas{
  font-size: 3rem;
  margin-left: 110px;
  margin-bottom: 20px;
}

.features-h3{
  font-family: 'Averia Serif Libre', cursive;
}
/* testimonials */
#testimonials{
  background-color: #F7E6AD;
}
.testimonials-h4{
  font-family: 'Road Rage', cursive;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;

}
.testimonial-image{
  height:150px;
  width:150px;
  border-radius: 100%;
  margin-left: 300px;
  margin-bottom: 100px;
}
.testimonial-para{
 font-size: 2rem;
 font-family: 'Averia Serif Libre', cursive;
 margin-right: 150px;
 margin-top: 20px;
}
/* pricing */

.card{
  margin: 100px 30px;
  text-align: center;
}
.res{
  color: white;
  text-decoration: none;
}
.res:hover{
  color: white;
  text-decoration: underline;
}
/* footer */
#footer{
  margin-top: 50px;
  text-align: center;
  font-family: serif;
  background-color: #F7E6AD;

}
.fab{
  padding-right: 10px;
}
.icons{
  color: black;
}
